
/* style เพิ่มเติม ของ Get a Quote */

/* .faluk{
    padding-left: 26.25%;
    padding-right: 26.25%;
    width: 100%;
    height: auto;
} */

.card-header-mystyle{
    font-family: 'Nunito', sans-serif;
    font-size:48px;
    /* font-weight: lighter; */
    color:#333333;
    text-align: center;
}

.card-content{
    font-family: 'Nunito', sans-serif;
    font-size:24px;
    font-weight: lighter;
    color:#333333;
    text-align: center;
}

.card-selection{
    font-family: 'Nunito', sans-serif;
    font-size:24px;
    color:#333333;
}

.card-selection-lighter{
    font-family: 'Nunito', sans-serif;
    font-size:14px;
    font-weight: lighter;
    color:#666666;
}

.highlight{
    background: linear-gradient(to top, yellow 50%, transparent 50%);
    margin:0px;
}

.font-info{
    font-size:18px;
    font-family: 'Nunito', sans-serif;
}

/* .radio{
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.radio-input{
    opacity: 0px !important;
    display: inline-blocks;
    padding: 0px;
}

.form-property{
    box-sizing: inherit;
}

.from-field{
    display: block;
    font-weight:300;
    padding: 5px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background:white;
    
} */

.faluk-from{
    padding-left: 10px;
    padding-right: 25px;
    font-size:15px;
    font-family: 'Nunito', sans-serif;
    color: #666666;
    font-weight: 1;
    cursor: pointer;

}