body, html{
    /* font-family: 'Nunito',Arial, sans-serif; */
    float: left;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden; 
}
/* กำหนดฟ้อนที่ใช้ใน section นี้ */
.navBar
{
    color: white;
    font-size: 0.75rem;
    font-family:'Nunito Sans', sans-serif;
    /* ใช้ relativeแล้วทำให้dropdown ไม่แสดงผล */
    /* z-index: -2;
    position: relative; */
}

/* แถบโปรโมชั่น */
.alert-bar
{
    background-color: #1786D9;
    text-indent: 2%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
}
.alert-bar > p /*ลบ mr ของ p ออก*/
{
    margin: 0 0 0;
}

.breakline /* ตัว br ที่ใช้ในแถบโปรโมชั่น */
{
    display: none; 
}

/* แถบ NavBar */
.navbar-custom /* Custom Navbar code */
{
    font-size: 1rem;
    background-color: #1B9DFF;
}
.nav-item /*ปรับฟ้อนท์ของlist item*/
{
    font-size: 0.75em;
    font-family:'Nunito Sans', sans-serif;
}

#custom-form /*customize form and button*/
{
    font-family:'Nunito Sans', sans-serif;
    font-size: 0.75rem;
    color:white;
    font-weight: bold;
    border-radius: 40px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #1B9DFF !important;
    border: white solid 2px;
}
/*Dropdown menu section*/
.dropdown-menu  /*resize dropdown*/
{
    width: 810px !important;
    height: auto !important;
}
.dropdown .dropdown-menu /*dropdown animation*/
{
    display: block; 
    opacity: 0;
    top: 150%;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    visibility: hidden;
}
.dropdown:hover .dropdown-menu /*hover effect*/
{
    display: block;
    opacity: 1;
    top: 120%;
    visibility: visible;
}

/*Card in dropdown*/
.card-title /*custom card title*/
{
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 9%;
}
.card /*custom card */
{ 
    font-size: 0.75rem;
    margin-top: 3%;
}
.bottom-list, .bottom-link /*link in location section*/
{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottom-link /*link in location section*/
{
    font-size: 0.9rem;
    margin-right: 5%;
}

#sst /*position 2-5 List*/
{
    margin-left: 2.8rem ;
}


/*ส่วน responsive ของหน้าจอ(จะเอาเหมือนต้องทำใหม่)*/
@media screen and (max-width: 1400px)
{
    .dropdown-menu  /*resize dropdown*/
    {
        width: 635px !important;
        height: auto !important;
    }

    /* แถบ NavBar */
    #fst /* 1st List*/
    {
        margin-left: 2rem !important;
    }
    #sst /* 2-5 List*/
    {
       margin-left: 3.5rem;
       padding-left: 0px !important;
    }
    #custom-form /*ปุ่ม get a qoute*/
    {
        font-family:'Nunito Sans', sans-serif;
        font-size: 0.75rem;
        color:white;
        font-weight: bold;
        border-radius: 40px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-color: #1B9DFF !important;
        border: white solid 2px;
    }

    #position-dp
    {
        left: -180% !important;
    }

    #position-dp-2
    {
        left: -296% !important;
    }
}

@media screen and (max-width: 576px)
{
    .breakline /* ตัว br ที่ใช้ในแถบโปรโมชั่น */
    {
        display: inline;
    }
}


/* background ส่วน Banner */
.section-banner{
    background-image: url(https://thisisneat.com.au/wp-content/themes/neat/shared/img/hero-background.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #1b9dff;
    height:auto;
    width:100%;
    padding: 0px 100px;
}

.section-padding{
    padding-top: 40px;
}
/* @media screen and (max-width:992px){
    .section-banner{
    background-color: #1b9dff;
    height:50%;
    width:100%;
    }s
} */

/* ฟ้อนส่วน banner */
@media screen and (min-width:1679px){
    .banner-head-font{
        font-family:'Nunito Sans', sans-serif;
        color: white;
        font-size: 64px;
        text-align: center;
    }
}
@media screen and (max-width:1679px){
    .banner-head-font{
        font-family:'Nunito Sans', sans-serif;
        color: white;
        font-size: 48px;
        text-align: center;
    }
}

@media screen and (max-width:992px){
    .banner-head-font{
        font-family:'Nunito Sans', sans-serif;
        color: white;
        font-size: 36px;
        text-align: center;
    }
}
.text-link:link {
    text-decoration: underline;
    color: #1b9dff;
    font-weight: 300;
}
.banner-head-feature{
    font-family:'Nunito Sans', sans-serif;
    color:white;
    font-size: 18px;
    text-align: center;
}

.banner-neatTeam{
    font-style: italic;
    font-family: Georgia,Times,Times New Roman,serif;
    display: block;
    font-weight: 300;
    line-height: 1.375rem;
    letter-spacing: .5px;
    font-size: .875rem;
    color: white;
    margin-bottom: 75px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    
}

.bredcrumb-wrapper{
    margin: 0px 0px 100px;
    padding: 30px 0px 25px;
    
}
.breadcrumbs--center .breadcrumbs__content {
    justify-content: center;
    text-align: center;
}
.breadcrumbs__content {
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}
ol{
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.breadcrumbs__crumb {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.breadcrumbs__link {
    display: block;
    text-decoration: none;
    color: #aaa;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
    font-size: .75rem;
    line-height: 1.375rem;
    letter-spacing: .5px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Nunito Sans,Arial,sans-serif;
    position: relative;
}

.breadcrumbs__icon {
    display: inline-block;
    transform: translateY(-1px);
}
.icon--grey {
    fill: #aaa;
}
.icon--sm {
    width: 20px;
    height: 20px;
}
.icon--block, .icon--block svg {
    margin: 0 auto;
}
.icon svg {
    display: block;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
}

.capital-letter{
    margin: 30px 20px 30px -5px;
    
}

.fletter::first-letter { 
    float: left; 
    color: #1b9dff;
    font-size: 140px; 
    font-weight: 200;
    line-height: 70px;
    text-align: left;
    font-family:'Nunito Sans', sans-serif;
    margin: 15px 20px 10px -5px;
  
}

.font-w300{
    font-family: Nunito Sans,Arial,sans-serif;
    font-weight: 300;
    color: #666666;
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    font-size: 18px;
    line-height: 34px;
    line-height: 2.125rem;
    float: left;
    text-align: left;
}
.font-w300-blue{
    font-family: Nunito Sans,Arial,sans-serif;
    font-weight: 300;
    color: #1b9dff;
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    font-size: 24px;
    line-height: 34px;
    float: left;
    text-align: left;
}


.grid-jutify-center{
    justify-content: center;
    text-align: center;
}
.section-content-wrapper{
    margin: 0 0 30px;
    padding: 0 100px;
}
div{
    display: block;
}
/* แถบสีฟ้า ที่มี svg รุปผุ้หญิง*/
.snippet{
    position: relative;
    margin: 75px 0px;
    padding: 50px;
    background: #1b9dff;
    border-radius: 15px;
}

@media only screen and (min-width: 1200px){
   .snippet {
    width: calc(100% + 262.5px);
    margin: 75px 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
} 
}
@media only screen and (min-width: 768px){
    .snippet {
    margin: 50px 0;
    padding: 50px;
}

}
.snippet__content{
    float: left;
    text-align: left;
}
.heading--styled.heading--h3{
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 48px;
    line-height: 3rem;
    font-weight: 200;
}
.snippet__heading {
    margin-bottom: 20px;
    color: #fff;
}
.snippet__icon {
    bottom: 0;
    right: 0;
    position: absolute;
     
}

.copy{
    color: #fff;
    display: block;
    font-weight: 300;
    font-size: 1.125rem;
}
.icon--block, .icon--block svg {
    
    margin:-25px -17px;
}

@media only screen and (min-width: 1200px){
   .col--9\@xl-up {
    flex-basis: 75%;
    max-width: 75%;
} 
}
@media only screen and (min-width: 992px){
  .col--10\@lg-up {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
}  
}
.col {
    width: 100%;
    flex-basis: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.grid{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.heading--h2{
    font-weight: 200;
    margin: 75px 0px 30px;
    border-bottom: 1px solid #ddd;
    font-family: Nunito Sans,Arial,sans-serif;
    font-size: 48px;
    line-height: 64px;
    text-align: left;
    color: #1b9dff;
}


.wp-block-image {
    display: block;
    height: auto;
    max-width: 100%;
    border: 0;
    min-height: 1px;
    margin: auto;
    margin-bottom: 50px ;
}

/* ส่วนของ ol ที่เป็นวงกลมมีตัวเลข */
 .circle-number ol {
    counter-reset: item;
    padding-left: 75px;
    margin: 50px 0;
    list-style-type: none;
}

.circle-number ol>li{
    position: relative;
}
.circle-number ol>*{
    margin-bottom: 30px;
}
.circle-number li {
    display: list-item;
    text-align: -webkit-match-parent;
}
 .circle-number ol>li:before  {
    content: counter(item);
    counter-increment: item;
    position: absolute;
    top: -7.5px;
    left: -75px;
    padding-top: 7px;
    min-width: 50px;
    text-align: center;
    color: #1b9dff;
    background: rgba(27,157,255,.15);
    border-radius: 999px;
    border: 2px solid #1b9dff;
    width: 50px;
    height: 50px;
}
ol>:last-child{
    margin-bottom: 30px;
}

strong{
    margin:0px 0px 10px;
}
ol>li>strong{
    display: block;
    margin-bottom: 10px;
    color: #1b9dff;
}
.circle-number li{
    font-family: Nunito Sans,Arial,sans-serif;
  
    color: #666666;
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    font-size: 18px;
    line-height: 34px;
    line-height: 2.125rem;
    float: left;
    text-align: left;
   
}

.infomation > li{
    font-weight: bold;
}

.infomation h4{
    color: #1b9dff;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    letter-spacing: .5px;
    margin: 50px 0px 20px;
}
.font-w200{
    color: #1b9dff;
    font-weight: 200;
    font-size: 36px;
    line-height: 48px;
    text-align: left;
    letter-spacing: .5px;
    margin: 50px 0px 20px;
}

.infomation .table, .infomation .wp-block-table {
    table-layout: fixed;
    width: 100%;
    margin: 50px 0;
}

.table th, .wp-block-table th {
    font-weight: 300;
}
.infomation ul> li:before{
    position: absolute;
    left: -45px;
    top: 15px;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    content: "";
    display: block;
}

/* ส่วนการ์ด */
.font-homepage{
    text-align: center;
}

.card-body{
    width:100%;
    float: left;
    /* padding-left:30px;
    padding-right:30px; */
    position: relative;
    font-family: 'Nunito Sans', sans-serif
}
.card{
    height:100%;
    position: static;
}
.card-header{
    color: #333333;
    font-size: 24px;
}

.info-card-head{
    color: #666666;
    font-size: 15px;
}


/* Card responsive */
@media screen and (max-width:1200px){
    .faluk{
        padding-left:3%;   
        padding-left:3%; 
    }
    
}

@media screen and (min-width: 1679px){
    .faluk{
        padding-left:15%;   
        padding-right:15%;  
    }
}

@media screen and (max-width: 1679px){
    .faluk{
        padding-left:6%;   
        padding-right:6%;  
    }
    
}


figure{
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    border: 0;
    min-height: 1px;
}
/* ส่วน The near team profile */
/* กำหนด padding margin และ ทำเส้นข้างบน */
.single__profile {
    margin-left: 70px;
    margin-right: 70px;
    border-top: 1px solid #ddd;
    margin-top: 50px;
    padding-top: 50px;
}
.image--center {
    display: block;
}
/* อนิเมของรูป */
.image {
    transition: all 1s cubic-bezier(.215,.61,.355,1) .2s;
}
.profile__author{
    padding-left: 15px;
    padding-right: 15px;   
} 

/* css ของตารางที่สลับสี */
/* Neat Profile */
.td-block{
    padding-left:35px;
}
.td-block > h4{
    font-size: 24px;
    line-height: 34px;
    letter-spacing: .5px;
    font-weight: 300;
    font-family: Nunito Sans,Arial,sans-serif;
}
.td-block >h6{
    font-size: 12px;
    font-size: .75rem;
    line-height: 22px;
    line-height: 1.375rem;
    font-weight: 300;
    letter-spacing: .5px;
    font-weight: 700;
    opacity: 1;
    display: block;
    font-family: Nunito Sans,Arial,sans-serif;
    text-transform: uppercase;
}
.td-block > p{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .5px;
    font-family: Nunito Sans,Arial,sans-serif;
    font-weight: 300;
    color: #666;
}

.table-bordered, .wp-block-table {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
td {
    display: table-cell;
    vertical-align: inherit;
    padding: 20px;
}
th{
    padding: 20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table-grey{
    background-color: #fafafa;

}
.table-heading{
    color: #333;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: .5px;
    font-weight: 300;
    font-family: Nunito Sans,Arial,sans-serif;
    text-transform: none;
    padding: 20px !important;
}
.table small{
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .5px;
    font-family: Nunito Sans,Arial,sans-serif;
}
.table td{
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .5px;
    font-family: Nunito Sans,Arial,sans-serif;
    color: #666666;
    text-align: left;
    padding: 20px !important;
}
