/* กำหนดฟ้อนที่ใช้ใน section นี้ */
.navBar
{
    color: white;
    font-size: 0.75rem;
    font-family:'Nunito Sans', sans-serif;
}

/* แถบโปรโมชั่น */
.alert-bar
{
    background-color: #1786D9;
    text-indent: 2%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    border: none;
}
.alert-bar > p /*ลบ mr ของ p ออก*/
{
    margin: 0 0 0;
}

.breakline /* ตัว br ที่ใช้ในแถบโปรโมชั่น */
{
    display: none; 
}

/* แถบ NavBar */
.navbar-custom /* Custom Navbar code */
{
    font-size: 1rem;
    background-color: #1B9DFF;
}
.nav-item /*ปรับฟ้อนท์ของlist item*/
{
    font-size: 0.75em;
    font-family:'Nunito Sans', sans-serif;
}

#custom-form /*customize form and button*/
{
    font-family:'Nunito Sans', sans-serif;
    font-size: 0.75rem;
    color:white;
    font-weight: bold;
    border-radius: 40px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #1B9DFF !important;
    border: white solid 2px;
}
/*Dropdown menu section*/
.dropdown-menu  /*resize dropdown*/
{
    width: 51em !important;
    height: auto !important;
}
.dropdown .dropdown-menu /*dropdown animation*/
{
    display: block; 
    opacity: 0;
    top: 150%;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    visibility: hidden;
}
.dropdown:hover .dropdown-menu /*hover effect*/
{
    display: block;
    opacity: 1;
    top: 120%;
    visibility: visible;
}

/*Card in dropdown*/
.card-title /*custom card title*/
{
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 9%;
}
.card /*custom card */
{ 
    font-size: 0.75rem;
    margin-top: 4.5%;
}
.bottom-list, .bottom-link /*link in location section*/
{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottom-link /*link in location section*/
{
    font-size: 0.9rem;
    margin-right: 5%;
}

#sst /*position 2-5 List*/
{
    margin-left: 2.8rem ;
}





/*ส่วน responsive ของหน้าจอ(จะเอาเหมือนต้องทำใหม่)*/
@media screen and (max-width: 1200px)
{
    .txt-alert
    {
        text-align: center;
    }
    .dropdown-menu  /*resize dropdown*/
    {
        width: 635px !important;
        height: auto !important;
    }

    /* แถบ NavBar */
    #fst /* 1st List*/
    {
        margin-left: 2rem !important;
    }
    #sst /* 2-5 List*/
    {
       margin-left: 3.5rem;
       padding-left: 0px !important;
    }
    #custom-form /*ปุ่ม get a qoute*/
    {
        font-family:'Nunito Sans', sans-serif;
        font-size: 0.75rem;
        color:white;
        font-weight: bold;
        border-radius: 40px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-color: #1B9DFF !important;
        border: white solid 2px;
    }

    #position-dp
    {
        left: -180% !important;
    }

    #position-dp-2
    {
        left: -296% !important;
    }
}

@media screen and (max-width: 576px)
{
    .breakline /* ตัว br ที่ใช้ในแถบโปรโมชั่น */
    {
        display: inline;
    }
}

.bluescreen{
    display: block;
    background-color: #1B9DFF;
    width:100%;
    height:400px;
    
}

/* background ส่วน Banner */
/* .eol{
    background-image: url(https://thisisneat.com.au/wp-content/themes/neat/shared/img/hero-background.svg);
    z-index: auto;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #1b9dff;
    height:auto;
    width:100%;
} */